<h1>Petition Page</h1>

<form class="form" method="POST">
    <input class="first" type="text" name="first" placeholder="First Name">
    <input class="last" type="text" name="last" placeholder="Last Name">
    <input class="sign" type="hidden" value="signature" placeholder="Please sign here">
    <button type="submit">Sign Petition</button>
    <canvas></canvas>
    
</form>

<script src="canvas.js"></script>